

.mess-item {
    border-radius: 10px;
    width: 60px;
    height: 60px;
}

.mess-view {
    display: flex;
    flex-direction: row;
}

.mess-text-sty {
    /*border: 1px solid black;*/
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.mess-text-mess {
    position: absolute;
    bottom: 5px;
    font-weight: lighter;
}

